body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game-board {
    border: 2px solid black;
    padding-top:1px;
    padding-right:1px;
}

.paused :not(h2){
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.game-board h2 {
   position: absolute;
   top: 350px;
   margin-left: 65px;
}

.square {
    background: #fff;
    border: 0px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 24px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 24px;
}

.square.red {
    /*border: 1px solid #999 !important;*/
    background-color: red;
}

.square.blue {
    /*border: 1px solid #999 !important;*/
    background-color: blue;
}

.square.yellow {
    /*border: 1px solid #999 !important;*/
    background-color: yellow;
}

.square.green {
    /*border: 1px solid #999 !important;*/
    background-color: green;
}

/*.square white {*/
/*background-color: white;*/
/*}*/

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.game-info {
    margin-left: 20px;
}

.piece-preview {
    margin-left: 20px;
}
