{% extends "base.html" %}
{% load staticfiles %}

{% block extra_imports %}
{#    <script type="text/babel" src="{% static "js/tetris/model.js" %}"></script>#}
{#    <script type="text/babel" src="{% static "js/tetris/components.js" %}"></script>#}
    <script src="{% static "js/mousetrap.min.js" %}"></script>
    <script type="text/babel" src="{% static "js/tetris/app.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/tetris.css" %}">

{% endblock %}

{% block content %}
    <div id="game"></div>
{% endblock %}
{% block scripts %}
{% endblock %}
